{% extends "home/index.html" %}
{% load static %}
{% block title %}Edit Comment{% endblock %}
{% block blog_project_content %}

<div class="container">
    
    {% if user.is_authenticated %}
        {% if user.id == comment.author.id %}
            <h2>Add Comment</h2>
            <hr>
            <br>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Comment</button>
                </form>
            </div>
        {% else %}
            You're not allowed here! (and you know it...)
        {% endif %}
    {% else %}
        You're not allowed here! (and you know it...)
    {% endif %}

</div>>

{% endblock %}
