{% extends "home/index.html" %}

{% load static %}
{% block blog_project_content %}

<div class="container">
    <h2>Search Post</h2>
    <hr>
    </hr>

    <form action="/search" method="GET">
        <div>
            <input type="text" name="search_param" id="posts_or_author" placeholder="Search..."
            {% if search_param %} value="{{ search_param }}" {% endif %}
            >
            <input type="submit" value="Search">
            <small><a style="color: blue" href="{% url 'home:main' %}"> (Refresh) </a></small>
        </div>

    </form>

    <hr>
    </hr>

    {% if posts %}
    <ul>
        {% for post in posts %}
        <li>
            <div class="card-body">
                <a href="{% url 'page:post-detail' post.id %}">{{post.title}}</a> - 
                <small>
                {{post.author}} - 
                {{ post.post_date }} - 
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                            (
                            <a href="{% url 'page:post-update' post.id %}">Edit Post</a>
                            |
                            <a href="{% url 'page:post-delete' post.id %}">Delete Post</a>
                            )
                        {% endif %}  
                    {% endif %}  
                </small>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}

    <h2>No hay blogs aún</h2>

    {% endif %}
</div>>


{% endblock %}
