{% extends "home/index.html" %}
{% load static %}
{% block blog_project_content %}

<div class="container">

    <h2>My Blog in Django</h2>
    <br>
    <p>This is my first project in Django. I have 28 years, my name is Cristian and live in Buenos aires, Argentina.
        <br>
        My professional occupation is graphic designer, but I look a change and improve my knowledge.
        <br>
        I get a Course in CoderHouse, where i learned so much. I hope to learn much more in the future and continue advancing!!!!
    </p>




</div>
<br>
<br>
{% endblock %}