{% extends "home/index.html" %}
{% load static %}
{% block blog_project_content %}

<div class="container">
    

        <h2>Last post</h2>
        {% if user.is_authenticated %}
        <div class="col-lg-2">
            <div class="card mb-4">
                <a class="card-body" href="{% url 'page:page-add' %}">Create new post</a>
            </div>
        </div>
        {% endif %}
        <hr></hr>

        <ul>
            {% for page in page_list %}
            <li>
                <div class="card-body"> {{page.title}} -- {{page.account}} -- {{page.date}}
                    (
                    <a href="{% url 'page:page-detail' page.id %}">
                        <i class="fa fa-eye" style="color: rgb(0, 0, 255);"> Read more </i>
                    </a>
                    {% if user.is_authenticated %}
                    |
                    <a href="{% url 'page:page-update' page.id %}">
                        <i class="fa fa-pencil" style="color: rgb(0, 0, 190);"> Edit </i>
                    </a>
                    |
                    <a href="{% url 'page:page-delete' page.id %}">
                        <i class="fa fa-trash" style="color: rgb(0, 0, 100);"> Delete </i>
                    </a>
                    {% endif %}
                    )
                </div>
            </li>
            {% endfor %}
        </ul>




    
</div>


{% endblock %}