{% extends "home/index.html" %}
{% block title %}{{ post.title_tag }}{% endblock %}
{% load static %}
{% block blog_project_content %}

<div class="container">
    <h2>Last Post</h2>
    {% if user.is_authenticated %}
    <div class="col-lg-2">
        <div class="card mb-4">
            <a class="card-body" href="{% url 'page:post-add' %}">Create new post</a>
        </div>
    </div>
    {% endif %}
    <hr></hr>
    {% if post_list %}
    <ul>
        {% for post in post_list %}
        <li>
            <div class="card-body">
                <a href="{% url 'page:post-detail' post.id %}">{{post.title}}</a> - 
                <small>
                {{post.author}} - 
                {{ post.post_date }} -                     
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                            (
                            <a href="{% url 'page:post-update' post.id %}">Edit Post</a>
                            |
                            <a href="{% url 'page:post-delete' post.id %}">Delete Post</a>
                            )
                        {% endif %}
                    {% endif %}                 
                </small>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}

    <h2>No hay blogs aún</h2>

    {% endif %}      

</div>
<br>
<br>

{% endblock %}