{% extends "home/index.html" %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block blog_project_content %}
<div class="container">
    <h2>Change Password</h2>
    <hr></hr>

    {% if form.errors %}
    <p style="color: red">Password incorrect, please try again.</p>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <a class="btn btn-dark" href="{% url 'account:profile-detail' %}" >Back</a>
        <button type="submit">Change Password</button>
        </br>
        </br>
    </form>
</div>

{% endblock %}